.react-datepicker-wrapper {
    @apply w-full; /* Apply full width using Tailwind */
}
.funnel-pipeline-chart{
    width: 100% !important;
    width: 550px !important;
    height: 300px !important;
}
.react-datepicker-popper{
    z-index: 9999 !important;
}
.funnel-pipeline-chart .funnel-pipeline-chart-row .funnel-pipeline-chart-title{
   font-size: 1rem !important;
   padding-bottom: 0px !important;
   font-weight: bold !important;
}